<html lang="en-us">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Unity WebGL Player | Gamesdip</title>

    <script src='1/UnityLoader.js'></script>

    <script>

      UnityLoader.instantiate("1/unityContainer", "1/colorhit.json");

    </script>
    
    <script>
                    
      var unity_instance;

      document.addEventListener('DOMContentLoaded', () => {

      });
                
    </script>

</head>

  <body>

    <div id="unityContainer" ></div>

  </body>

</html>